{% extends './user/base.html.twig' %}
{% block title %}demandes recu{% endblock %}
{% block body %}

    <div class="container-fluid">
        <h3 class="text-dark mb-1">Demande de congé</h3>
    </div>
    <section class="py-4 py-xl-5">
        <div class="card"></div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">nom</th>
                            <th class="text-center">type de congé</th>
                            <th class="text-center">reason</th>
                            <th class="text-center">du</th>
                            <th class="text-center">a</th>
                            <th class="text-center">accepter</th>
                            <th class="text-center">refuser</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in congeList %}
                            <tr>
                                <td class="text-center">{{ log.getPersonnelDemande().getNomPerso() }} {{ log.getPersonnelDemande().getPrenomPerso() }}</td>
                                <td class="text-center">{{ log.getCongeDemande().getTypeConge().getTypeConge() }}</td>
                                <td class="text-center">{{ log.getReasonConge() }}</td>
                                <td class="text-center">{{ log.getCongeDemande().getDateDebutConge()|date('Y-m-d') }}</td>
                                <td class="text-center">{{ log.getCongeDemande().getDateFinConge()|date('Y-m-d') }}</td>
                                <td class="text-center"><a class="btn btn-success" href="{{ path('acceptdemande',{'persoid':log.getPersonnelDemande().getId(),'congeid':log.getCongeDemande().getId(),'id':log.getId()})}}" type="button">accepter</a></td>
                                <td class="text-center"><a class="btn btn-danger" id="btnRefuse" href="{{ path('declinedemande',{'persoid':log.getPersonnelDemande().getId(),'congeid':log.getCongeDemande().getId(),'id':log.getId()})}}" type="button">refuser</a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}