{% extends 'admin/base.html.twig' %}
{% block title %}Absence{% endblock %}
{% block body %}

    <div class="container-fluid">
        <h3 class="text-dark mb-4">Saisie d'absence</h3>
        <div class="card shadow">
            <div class="card-header py-3 center">absence du jour <span id="todaydate"> <strong>{{ "now"|date("Y-m-d") }}</strong></span> </div>
            <div class="card-body" style="text-align: center;">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>nom</th>
                            <th><strong>Entre&nbsp;</strong></th>
                            <th><strong>Sortie</strong></th>
                            <th><strong>absence</strong></th>
                            <th><strong>congé</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for personnel in persoListe %}
                        <tr>
                            <td>{{ personnel.getNomPerso() }} {{ personnel.getPrenomPerso() }}</td>
                            <td><input type="time" name="date_entre" id="dateEntre" style="width: 150px;font-family: ABeeZee, sans-serif;"></td>
                            <td><input type="time" name="date_sortie" id="dateSortie" style="width: 150px;font-family: ABeeZee, sans-serif;"></td>
                            <td style="text-align: center;"><input type="checkbox" style="text-align: center;" id="absent" class="absent" data-perso_id="{{ personnel.getId() }}" name="absent" value="absent"></td>
                            <td style="text-align: center;"><input type="checkbox" style="text-align: center;" id="conge" class="conge" data-perso_id="{{ personnel.getId() }}" name="conge" value="conge"></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div><button class="btn btn-primary text-center" type="button" id="btnabsence" style="text-align: right;padding-right: 7px;">Enregistrer</button>
            </div>
        </div>
    </div>

{% endblock %}