<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ressource humain!{% endblock %}</title>
        <link rel="icon" href={{ asset("assetsPages/img/images/kingdomMorocco.png") }}>
        <link rel="stylesheet" href={{ asset("assetsPages/bootstrap/css/bootstrap.min.css") }}>
        <link rel="stylesheet" href={{ asset("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap") }}>
        <link rel="stylesheet" href={{ asset( "assetsPages/css/Contact-FormModal-Contact-Form-with-Google-Map.css")}}>
        <link rel="stylesheet" href={{ asset("assetsPages/css/Download-App-Section.css")}} >
        <link rel="stylesheet" href={{ asset("assetsPages/css/Navbar-Centered-Brand-icons.css") }}>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gradient-primary" style="color: var(--bs-red);background: var(--bs-gray-100);">
        {% block body %}{% endblock %}
    </body>
</html>
