<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:14px;font-family:Times;color:#000000;}
	.ft11{font-size:9px;font-family:Times;color:#003366;}
	.ft12{font-size:9px;font-family:Times;color:#003366;}
	.ft13{font-size:18px;font-family:Times;color:#365f91;}
	.ft14{font-size:14px;font-family:Times;color:#000000;}
	.ft15{font-size:12px;font-family:Times;color:#000000;}
	.ft16{font-size:13px;font-family:Times;color:#000000;}
	.ft17{font-size:22px;font-family:Times;color:#000000;}
	.ft18{font-size:23px;font-family:Times;color:#000000;}
	.ft19{font-size:16px;font-family:Times;color:#000000;}
	.ft110{font-size:15px;font-family:Times;color:#000000;}
	.ft111{font-size:13px;font-family:Times;color:#000000;}
	.ft112{font-size:7px;font-family:Times;color:#000000;}
	.ft113{font-size:18px;font-family:Times;color:#000000;}
	.ft114{font-size:16px;font-family:Times;color:#000000;}
	.ft115{font-size:10px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body >
<div id="page1-div" >
<img width="100%" height="150" src="target001.png" alt="background image"/>

<p style="position:absolute;top:950px;left:262px;white-space:nowrap" class="ft11"><b>Ministère&#160;de l’Education&#160;Nationale&#160;du&#160;préscolaire&#160;et des&#160;sports&#160;</b></p>
<p style="position:absolute;top:960px;left:344px;white-space:nowrap" class="ft11"><b>Direction&#160;du&#160;Système&#160;</b>d’information<b>&#160;</b></p>
<p style="position:absolute;top:970px;left:184px;white-space:nowrap" class="ft11"><b>9, Avenu&#160;Ibn&#160;Rochd&#160;–&#160;Haut&#160;Agdal&#160;-&#160;Rabat&#160;•&#160;Tél.&#160;:05 37 77&#160;55 54 /&#160;35 52&#160;•&#160;Fax&#160;:&#160;05&#160;37 77 69 89&#160;</b></p>
<p style="position:absolute;top:168px;left:7px;white-space:nowrap" class="ft15"><b>&#160;Rabat&#160;le: {% set currentDate = "now"|date("Y-m-d") %}{{ currentDate }}</b></p>

<p style="position:absolute;top:120px;left:389px;white-space:nowrap" class="ft17"><i><b>Décision&#160;</b></i></p>

<p style="position:absolute;top:208px;left:81px;white-space:nowrap" class="ft110">- Vu&#160;le&#160;dahir&#160;n°1.58.008&#160;du&#160;4&#160;chaâbane&#160;1377&#160;(24.02.58)&#160;portant&#160;statut&#160;général&#160;de&#160;la&#160;</p>
<p style="position:absolute;top:228px;left:74px;white-space:nowrap" class="ft110">fonction&#160;&#160;&#160;publique&#160;et&#160;notamment&#160;son&#160;article&#160;n°40.&#160;</p>
<p style="position:absolute;top:248px;left:74px;white-space:nowrap" class="ft110">-Vu&#160;la&#160;demande&#160;formulée&#160;par&#160;l’intéressé(e)</p>
<p style="position:absolute;top:268px;left:61px;white-space:nowrap" class="ft111"><b>&#160;&#160;ARTICLE&#160;1&#160;:&#160;</b></p>
<p style="position:absolute;top:286px;left:74px;white-space:nowrap" class="ft111"><b>CONGE administratif</b></p>
<p style="position:absolute;top:286px;left:244px;white-space:nowrap" class="ft111"><b>Allant&#160;du&#160;31/01/2023&#160;AU&#160;06/02/2023&#160;</b></p>
<p style="position:absolute;top:306px;left:74px;white-space:nowrap" class="ft111"><b>&#160;Est&#160;accordé&#160;A {{ nom }} {{ prenom }}.</b></p>
<p style="position:absolute;top:325px;left:74px;white-space:nowrap" class="ft111"><b>-&#160;PPR.</b></p>
<p style="position:absolute;top:325px;left:124px;white-space:nowrap" class="ft14"><b>{{ ppr }} {{ grade }} au titre annee {{ dateemb|date('Y') }}.</b></p>
<p style="position:absolute;top:348px;left:74px;white-space:nowrap" class="ft114"><b> <b>ARTICLE 2</b> : L’intéressé(e) est autorisé(e) à&#160;quitter&#160;le&#160;territoire&#160;national&#160;durant&#160;cette&#160;période.&#160;&#160;&#160;</b></p>
<p style="position:absolute;top:389px;left:552px;white-space:nowrap" class="ft114"><b>&#160;La&#160;Directrice&#160;&#160;</b></p>


<p style="position:absolute;top:463px;left:262px;white-space:nowrap" class="ft11"><b>Ministère&#160;de l’Education&#160;Nationale du&#160;préscolaire et&#160;des&#160;sports&#160;&#160;</b></p>
<p style="position:absolute;top:479px;left:340px;white-space:nowrap" class="ft11"><b>Direction&#160;du&#160;Système&#160;d’information&#160;</b></p>
<p style="position:absolute;top:495px;left:184px;white-space:nowrap" class="ft11"><b>9, Avenu&#160;Ibn&#160;Rochd&#160;–&#160;Haut&#160;Agdal&#160;-&#160;Rabat&#160;•&#160;Tél.&#160;:05 37 77&#160;55 54 /&#160;35 52 •&#160;Fax&#160;:&#160;05&#160;37 77 69 89&#160;</b></p>
    <p style="position:absolute;top:650px;left:7px;white-space:nowrap" class="ft15"><b>&#160;Rabat&#160;le: {% set currentDate = "now"|date("Y-m-d") %}{{ currentDate }}</b></p>

<p style="position:absolute;top:588px;left:389px;white-space:nowrap" class="ft17"><i><b>Décision&#160;</b></i></p>
<p style="position:absolute;top:706px;left:81px;white-space:nowrap" class="ft110">- Vu&#160;le&#160;dahir&#160;n°1.58.008&#160;du&#160;4&#160;chaâbane&#160;1377&#160;(24.02.58)&#160;portant&#160;statut&#160;général&#160;de&#160;la&#160;</p>
<p style="position:absolute;top:726px;left:74px;white-space:nowrap" class="ft110">fonction&#160;&#160;&#160;publique&#160;et&#160;notamment&#160;son&#160;article&#160;n°40.&#160;</p>
<p style="position:absolute;top:756px;left:74px;white-space:nowrap" class="ft110">-Vu&#160;la&#160;demande&#160;formulée&#160;par&#160;l’intéressé(e)</p>
<p style="position:absolute;top:779px;left:61px;white-space:nowrap" class="ft111"><b>&#160;&#160;ARTICLE&#160;1&#160;:&#160;</b></p>
<p style="position:absolute;top:800px;left:74px;white-space:nowrap" class="ft111"><b>CONGE administratif</b></p>
<p style="position:absolute;top:800px;left:244px;white-space:nowrap" class="ft111"><b>Allant&#160;du&#160;31/01/2023&#160;AU&#160;06/02/2023&#160;</b></p>
<p style="position:absolute;top:820px;left:74px;white-space:nowrap" class="ft111"><b>&#160;Est&#160;accordé&#160;A {{ nom }} {{ prenom }}.</b></p>
<p style="position:absolute;top:840px;left:74px;white-space:nowrap" class="ft111"><b>-&#160;PPR.</b></p>
<p style="position:absolute;top:840px;left:124px;white-space:nowrap" class="ft14"><b>{{ ppr }} {{ grade }} au titre annee {{ dateemb|date('Y') }}.</b></p>
<p style="position:absolute;top:856px;left:74px;white-space:nowrap" class="ft114"><b> <b>ARTICLE 2</b> : L’intéressé(e) est autorisé(e) à&#160;quitter&#160;le&#160;territoire&#160;national&#160;durant&#160;cette&#160;période.&#160;&#160;&#160;</b></p>
<p style="position:absolute;top:890px;left:552px;white-space:nowrap" class="ft114"><b>&#160;La&#160;Directrice&#160;&#160;</b></p>
</div>
</body>
</html>
