{% extends './superadmin/base.html.twig' %}
{% block title %}modifier Direction{% endblock %}
{% block body %}
    <div class="container" >
        <form action="{{ path('updatedirection') }}" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-12" id="message">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb-3"><label class="form-label">Ministere</label><select class="form-select" id="direction" name="direction">
                                    {% for direction in directions %}
                                        <option value="{{ direction.getId() }}">
                                            {{ direction.getNomDirection() }}</option>
                                    {% endfor %}
                                </select></div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-6">
                        <div class="has-feedback form-group mb-3"><label class="form-label" for="from_phone">nom Direction</label><input class="form-control" type="text" id="nomdirection" name="nomdirection" value="{{ directions[0].getNomDirection() }}" required></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="has-feedback form-group mb-3"><label class="form-label" for="from_phone">Lieu du  Direction</label><input class="form-control" type="text" id="location" name="location" value="{{ directions[0].getLocation() }}" required></div>
                    </div>
                    </div>
                    <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" id="btnaddDevision" type="submit">Modifier</button></div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}